<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8"/>
  <title>Poozles</title>
  <script type="module" src="/main.js"></script>
  <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<h1 id="title">{{.Metadata.Title}}</h1>
<div id="puzzle">
  {{.Content }}
</div>
<form id="input" autocomplete="off">
  <input type="hidden" name="puzzle" value="{{ .ID }}"/>
  <input type="text" name="guess" value=""/>
  <button type="submit">Guess</button>
</form>
<div id="info">
  <div id="hints">
  </div>
  <div id="guesses">
  </div>
</div>
</body>
</html>
