<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8"/>
  <title>Poozles</title>
  <script type="module" src="/main.js"></script>
  <link rel="stylesheet" href="/main.css"/>
</head>
<body>
<h1 id="title">{{.Metadata.Title}}</h1>
<div id="puzzle">
  {{.Content }}
</div>
<form id="input" autocomplete="off">
  <input type="hidden" name="puzzle" value="{{ .ID }}"/>
  <input type="text" name="guess" value=""/>
  <button type="submit">Guess</button>
</form>
<div id="info">
  <h2>Hints ({{ len .Metadata.Hints }})</h2>
  <ol id="hints">
      {{ range $index, $hint := .Metadata.Hints }}
      <li class="hint" data-index="{{ $index }}">
        <p class="locked">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Reveal this hint</button>
      </li>
      {{ end }}
  </ol>
  <h2>Unlocks</h2>
  <div id="unlocks">
  </div>
  <h2>Guesses</h2>
  <div id="guesses">
  </div>
</div>
</body>
</html>
